/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: radial-gradient(circle at bottom, #0d0d2b, #000000);
  color: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #4b0082, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
}
/* styles/globals.css */
html,body {
  height: 100%; /* Ensures the body takes the full height of the viewport */
  margin: 0;    /* Resets default margin */
  scroll-behavior: smooth;
  overflow-y: auto !important;
}

