/* styles/Skills.module.css */
.skillsContainer {
    padding: 20px;
    text-align: center;
  }
  
  .skillsList {
    list-style-type: none;
    padding: 0;
  }
  
  .skillsList li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
  }
  